/* Footer */
.contenedor_footer {
    width: auto;
    margin-top: auto;
    display: grid;
    gap: 10px;
    box-shadow: 6px 1px 10px 6px red;
    margin-top: 10px;
    background-color: $colorSecundario;
    /* Indicar cuantas columnas tendra */
    grid-template-columns: repeat(4, 1fr);
    /* Indicar cuantas filas tendra */
    grid-template-rows: 230px;
    grid-template-areas:
        "footer_seccion1_logo footer_seccion2_contacto footer_cliente footer_seccion4_redes";

    .footer_seccion1_logo {
        color: $colorTextoPrincipal;
        margin: 20px;
        text-align: center;
    }

    .footer_seccion2_contacto {
        color: $colorTextoPrincipal;
        margin: 17px;
        text-align: center;
    }

    .footer_cliente {
        color: $colorTextoPrincipal;
        margin: 17px;
        text-align: center;
    }

    .footer_seccion4_redes {
        color: $colorTextoPrincipal;
        margin: 17px;
        text-align: center;

        a {
            color: white;
            margin: 17px;
            text-align: center;
        }
    }
}


