
// Variables
$acoplamiento-imagen: cover;
$width-estandar: 100%;
$height-estandar: 100%;


//Mapa 

$paleta-colores: (
    'colorPrincipal': white,
    'colorSecundario': red,
    'segundoColorPrincipal': azure,
    'colorCard': #ebf5fc,
    'colorBotonAgregar': #ebeef1,
    'colorTextoPrincipal': white,
    'colorTextoSecundario': red
);

